h3{
    text-align: center;

}
body{
    background-color: rgba(42, 44, 42, 0.301);
}
div.firstdiv{
 
   
    width: 90%;    
    margin: auto;
    
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
    
}
div.cnct{
    text-align: center;
    margin: 30px;
    width: 300px;
    background-color: gray;
    font-size: 20px;
    font-weight: bold;
   
}
.cnct a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
h3{
    margin-top: 80px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.cnct a:hover{
    color: greenyellow;
    cursor: pointer;
}