body{
    background-color: rgba(133, 156, 140, 0.301);
}
div.aboutme{
    margin-top: 80px;
    border: 2px solid green;
    max-width: 100%;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: gray;
    
}
.avtr{
    margin: 20px;
    border-radius: 125px;
    float: left;
}
.me{
    font-size: 25px;
    color: white;
}
.highlight{
    color: rgb(227, 252, 10);
}
.skill{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    
    
}
h2.skl{
    text-align: center;
    margin: 20px 50% 5px 50%;
}
.frd{
    width: 400px;
   /* height: 180px;*/
    background-color: grey;
    font-size: 20px;
    margin: 20px;
}
.ft{
    text-align: center;
    color: gold;
    margin-bottom: 0;
}
.ftl{
    margin-left: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.footer{
   
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(to right, black,rgb(11, 184, 40));
}
#ftr{
    color: gold;
    text-align: center;
    
}